<div class="container">
  <div class="row flex-center" *ngFor="let prodDetails of prodDetails">
    <div class="col-sm-4">
        <img src="{{prodDetails.imgPath}}" alt="">
    </div>
    <div class="col-sm-8">
      <h3>{{prodDetails.title}}</h3>
      <span class="badge" style.color = "{{prodDetails.rating > 5 ? 'blue' : 'green'}}" >{{prodDetails.rating}}</span>
      <p class="price-prod">{{prodDetails.price}}</p>
      <p class="prod-desc">{{prodDetails.description}}</p>
    </div>
  </div>
</div>